#root , .app{
    width:100%
}



.lds-roller {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -50%, 10px);
    width: 80px;
    height: 80px;
    top: 50%;
    
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #c9b7b7;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


  .confirmed {
    margin: 0 auto;
    width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    text-align: center;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    box-shadow:0 0 10px rgba(0,0,0,0.4);
    font-family: 'Oswald', sans-serif;
    z-index: 99;
}
.confirmed h5 {
    font-size: 50px;
    margin: 0px;
    color: #4CAF50;
}
.confirmed p {
    font-size: 20px;
    padding: 20px 0;
    font-weight: 300;
}
.confirmed button {
    background: #4CAF50;
    border-color: #4CAF50;
    color: #fff;
    font-size: 20px;
    padding: 8px 45px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
}
